<?xml version="1.0"?><!--
/**
 * @category    ApiExtension
 * @package     ApiExtension_Magento
 * @author      Slavisa Perisic
 * @copyright   2018 CerseiLabs.com
 * @license     http://license.apiExtension.com/  Unlimited Commercial License
 */
-->
<config>
    <modules>
        <ApiExtension_Magento>
            <version>0.1.0</version>
        </ApiExtension_Magento>
    </modules>
    <frontend>
        <routers>
            <oauth>
                <args>
                    <modules>
                        <ApiExtension_Magento before="Mage_Oauth">ApiExtension_Magento</ApiExtension_Magento>
                    </modules>
                </args>
            </oauth>
        </routers>
    </frontend>
    <global>
        <helpers>
            <apiExtension>
                <class>ApiExtension_Magento_Helper</class>
            </apiExtension>
        </helpers>
        <events>
            <!-- catalog_product_save_commit_after -->
            <catalog_product_save_commit_after>
                <observers>
                    <post_product>
                        <class>apiExtension/observer</class>
                        <method>postProduct</method>
                    </post_product>
                </observers>
            </catalog_product_save_commit_after>

            <!-- customer_save_commit_after -->
            <customer_save_commit_after>
                <observers>
                    <post_customer>
                        <class>apiExtension/observer</class>
                        <method>postCustomer</method>
                    </post_customer>
                </observers>
            </customer_save_commit_after>

            <!-- sales_order_save_commit_after -->
            <sales_order_save_commit_after>
                <observers>
                    <post_order>
                        <class>apiExtension/observer</class>
                        <method>postOrder</method>
                    </post_order>
                </observers>
            </sales_order_save_commit_after>

            <!-- customer_group_save_commit_after -->
            <customer_group_save_commit_after>
                <observers>
                    <post_customer_group>
                        <class>apiExtension/observer</class>
                        <method>postCustomerGroup</method>
                    </post_customer_group>
                </observers>
            </customer_group_save_commit_after>

            <!-- catalog_category_save_commit_after -->
            <catalog_category_save_commit_after>
                <observers>
                    <post_category>
                        <class>apiExtension/observer</class>
                        <method>postCategory</method>
                    </post_category>
                </observers>
            </catalog_category_save_commit_after>

            <!-- cataloginventory_stock_item_save_commit_after -->
            <cataloginventory_stock_item_save_commit_after>
                <observers>
                    <post_cataloginventory>
                        <class>apiExtension/observer</class>
                        <method>postInventory</method>
                    </post_cataloginventory>
                </observers>
            </cataloginventory_stock_item_save_commit_after>
        </events>
        <models>
            <apiExtension>
                <class>ApiExtension_Magento_Model</class>
                <resourceModel>apiExtension_mysql4</resourceModel>
            </apiExtension>
            <apiExtension_mysql4>
                <class>ApiExtension_Magento_Model_Mysql4</class>
                <entities>
                    <webhooks>
                        <table>apiExtension_webhooks</table>
                    </webhooks>
                </entities>
            </apiExtension_mysql4>
            <customer>
                <rewrite>
                    <api2_customer_rest_admin_v1>ApiExtension_Magento_Model_Customer_Api2_Customer_Rest_Admin_V1</api2_customer_rest_admin_v1>
                </rewrite>
            </customer>
            <customer_resource>
                <rewrite>
                    <customer>ApiExtension_Magento_Model_Customer_Model_Resource_Customer</customer>
                </rewrite>
            </customer_resource>
            <catalog>
                <rewrite>
                    <api2_product_rest_admin_v1>ApiExtension_Magento_Model_Catalog_Api2_Product_Rest_Admin_V1</api2_product_rest_admin_v1>
                </rewrite>
            </catalog>
            <sales>
                <rewrite>
                    <api2_order_rest_admin_v1>ApiExtension_Magento_Model_Sales_Api2_Order_Rest_Admin_V1</api2_order_rest_admin_v1>
                </rewrite>
            </sales>
            <cataloginventory>
                <rewrite>
                    <api2_stock_item_rest_admin_v1>ApiExtension_Magento_Model_CatalogInventory_Api2_Stock_Item_Rest_Admin_V1</api2_stock_item_rest_admin_v1>
                </rewrite>
            </cataloginventory>
            <api2>
                <rewrite>
                    <dispatcher>ApiExtension_Magento_Model_Api2_Dispatcher</dispatcher>
                </rewrite>
            </api2>
        </models>
        <blocks>
            <apiExtension>
                <class>ApiExtension_Magento_Block</class>
            </apiExtension>
        </blocks>
        <resources>
            <apiExtension_setup>
                <setup>
                    <module>ApiExtension_Magento</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </apiExtension_setup>
            <apiExtension_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </apiExtension_write>
            <apiExtension_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </apiExtension_read>
        </resources>
    </global>
    <default>
        <apiExtension>
            <webhook>
                <enabled>1</enabled>
            </webhook>
        </apiExtension>
    </default>
    <admin>
        <routers>
            <apiExtension>
                <use>admin</use>
                <args>
                    <module>ApiExtension_Magento</module>
                    <frontName>apiExtension</frontName>
                </args>
            </apiExtension>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <apiExtension>
                    <file>apiExtension.xml</file>
                </apiExtension>
            </updates>
        </layout>
    </adminhtml>
</config>
